.superInput {
    border: 3px solid darkslategray;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    outline: none;
}

.errorInput {
    background-color: red;
    border: 3px solid red;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    outline: none;
}

.error {
    color: red;
    font-weight: 600;
}